build/Debug-iphonesimulator/TestBundle.octest.dSYM/Contents/Info.plist
build/Debug-iphonesimulator/TestBundle.octest.dSYM/Contents/Resources/DWARF/TestBundle
build/Debug-iphonesimulator/TestBundle.octest/Info.plist
build/Debug-iphonesimulator/TestBundle.octest/TestBundle
build/Debug-iphonesimulator/TestKitTesting.app.dSYM/Contents/Info.plist
build/Debug-iphonesimulator/TestKitTesting.app.dSYM/Contents/Resources/DWARF/TestKitTesting
build/Debug-iphonesimulator/TestKitTesting.app/Info.plist
build/Debug-iphonesimulator/TestKitTesting.app/MainWindow.nib
build/Debug-iphonesimulator/TestKitTesting.app/PkgInfo
build/Debug-iphonesimulator/TestKitTesting.app/TestKitTesting
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/Objects-normal/i386/CalculatorTests.o
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/Objects-normal/i386/MessageSystem.o
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/Objects-normal/i386/MessengerSystem.o
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/Objects-normal/i386/MessengerSystemTest.o
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/Objects-normal/i386/TestBundle.LinkFileList
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/Objects-normal/i386/TestKitTestingAppDelegate.o
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/Objects-normal/i386/UnderTest.o
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/Script-137DA953122A26D500FB5497.sh
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/TestBundle-all-target-headers.hmap
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/TestBundle-generated-files.hmap
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/TestBundle-own-target-headers.hmap
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/TestBundle-project-headers.hmap
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/TestBundle.dep
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/TestBundle.hmap
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/TestBundle~.dep
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/build-state.dat
build/TestKitTesting.build/Debug-iphonesimulator/TestBundle.build/build-state~.dat
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/Objects-normal/i386/MessengerSystem-25B12E481568952E.o
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/Objects-normal/i386/TestKitTesting.LinkFileList
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/Objects-normal/i386/TestKitTestingAppDelegate.o
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/Objects-normal/i386/coTestObject-5386FD5C84573D40.o
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/Objects-normal/i386/main.o
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/TestKitTesting-all-target-headers.hmap
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/TestKitTesting-generated-files.hmap
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/TestKitTesting-own-target-headers.hmap
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/TestKitTesting-project-headers.hmap
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/TestKitTesting.dep
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/TestKitTesting.hmap
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/TestKitTesting~.dep
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/build-state.dat
build/TestKitTesting.build/Debug-iphonesimulator/TestKitTesting.build/build-state~.dat
build/TestKitTesting.build/TestKitTesting.pbxindex/categories.pbxbtree
build/TestKitTesting.build/TestKitTesting.pbxindex/cdecls.pbxbtree
build/TestKitTesting.build/TestKitTesting.pbxindex/decls.pbxbtree
build/TestKitTesting.build/TestKitTesting.pbxindex/files.pbxbtree
build/TestKitTesting.build/TestKitTesting.pbxindex/imports.pbxbtree
build/TestKitTesting.build/TestKitTesting.pbxindex/pbxindex.header
build/TestKitTesting.build/TestKitTesting.pbxindex/protocols.pbxbtree
build/TestKitTesting.build/TestKitTesting.pbxindex/refs.pbxbtree
build/TestKitTesting.build/TestKitTesting.pbxindex/strings.pbxstrings/control
build/TestKitTesting.build/TestKitTesting.pbxindex/strings.pbxstrings/strings
build/TestKitTesting.build/TestKitTesting.pbxindex/subclasses.pbxbtree
build/TestKitTesting.build/TestKitTesting.pbxindex/symbols0.pbxsymbols